.AppContainer {
  max-width: 1100px;

  .icon {
    display: inline-block;
    cursor: pointer;

    &.icon-save {
      @include sprite($icon-save-big);

      &.saved {
        @include sprite($icon-saved-big);
      }
    }

    &.icon-white {
      @include sprite($icon-save-white);
    }
  }
}