.AppHeader {
  background: url("/static/images/header.jpg") 50% 50% no-repeat;
  margin-top: 50px;

  .AppHeader-Greeting {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    text-align: center;
  }

  .AppHeader-hearts {
    position: relative;
    float: right;
    top: -125px;
    right: -10px;
    opacity: 0.2;
    filter: alpha(opacity=20);

    .icon {
      position: absolute;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          top: calc(#{$i} * 20px);
          right: calc(#{$i} * 20px);
        }
      }
    }
  }

  @include respond-to(medium) {
    margin-top: 60px;
    height: 250px;
  }
}

.AppTop {
  .AppTop-FavCounter {
    cursor: pointer;
    float: right;
    border: 1px solid rgba(100, 100, 100, 0.2);
    padding: 4px 6px 1px;
    margin: 10px;
    border-radius: 3px;

    .AppTop-FavCounterValue {
      color: #ccc;
      font-size: 8px;
    }
  }
}