.HorizontalCard {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #eee;

  .HorizontalCard-Image {
    float: left;
    margin: 0 10px 0 0;

    img {
      width: 200px;

      @include respond-to(wide) {
       width: 300px;
      }
    }
  }

  .HorizontalCard-Link {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .HorizontalCard-Title {
    font-family: sans-serif;
    margin: 0 10px 10px 0;
    font-size: 24px;
  }

  .HorizontalCard-Footer {
    position: absolute;
    bottom: 10px;

    @include respond-to(wide) {
      right: 10px;
    }
  }

  &:hover {
    background: #eee;
  }

  @include respond-to(medium) {
    padding: 20px 20px 20px 0;
  }
}